<h2>Edit Todo List</h2>

<%= form_for(@todo_list) do |f| %>

  <div class="field">
    <%= f.label :title, "Title" %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :description, "Description" %>
    <%= f.text_area :description %>
  </div>

  <div class="action">
    <%= f.submit "Update Todo List" %>
  </div>

<% end %>
