<h2><%= @todo_list.title %></h2>

<div>
  Add your first Todo list item here:
</div>

<%= form_for([@todo_list, @todo_item]) do |f| %>

  <div class="field">
    <%= f.label :content, "Content" %>
    <%= f.text_field :content %>
  </div>

  <div class="action">
    <%= f.submit "Add Item" %>
  </div>

<% end %>


<!-- Todo Items -->
<div>
  <ul>
    <% @todo_items.each do |todo_item| %>
      <li><%= todo_item.content %> |
          <%= todo_item.done ? "Done" : "Not Done" %> |
          <%= link_to "Mark as done", done_todo_item_path(todo_item), id: "mark_as_done_#{todo_item.id}" %> |
          <%= link_to "Delete Item", todo_item_path(todo_item), method: :delete, id: "delete_todo_item_#{todo_item.id}" %>
      </li>
    <% end %>
  </ul>
</div>

<%= link_to "Back to Todo Lists", todo_lists_path %>
